<div class="container">
<h2>About Respira Fácil</h2>

<h4> Need Statement</h4>
<p>Rural Amazonian communities need an accessible and reliable way to differentiate between the common cold and pneumonia in order to encourage early care-seeking behavior and improve community health.</p>

</div>






{{outlet}}