<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Respira Facil</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/about">About Us</a>
      <a class="nav-item nav-link active" href="/phinfo">Public Health</a>
      <a class="nav-item nav-link active" href="/contact">Contact us</a>
    </div>
  </div>
</nav>








{{outlet}}