<<<<<<< HEAD
<h1>Respira Facil</h1>
=======
{{!-- The following component displays Ember's default welcome message. --}}
{{welcome-page}}
{{!-- Feel free to remove this! --}}

>>>>>>> 36f1088b330f4dbce4e4f2cb5596bc79d7c8aaf8
{{outlet}}