
<header>
<img src="assets/images/logo.png" alt="Respira Facil Logo">
</header>


<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Diagnose</a>
      <a class="nav-item nav-link active" href="/about">About</a>
      <a class="nav-item nav-link active" href="/phinfo">Public Health</a>
      <a class="nav-item nav-link active" href="/contact">Contact Us</a>
    </div>
  </div>
</nav>








{{outlet}}
{{age}}