<article id="initial-symptoms">
  <div class="container" >
    <h2>Patient Symptoms</h2>

<article id="initial_symptoms_q">
    <h5>Cough?</h5>
    <input type="radio" name="cough" value="yes"> <label>Yes</label> &nbsp;
    <input type="radio" name="cough" value="no"> <label>No</label>

    <h5>Chest pain?</h5>
    <input type="radio" name="chest" value="yes"> <label>Yes</label> &nbsp;
    <input type="radio" name="chest" value="no"> <label>No</label>

    <h5>Sputum production?</h5>
    <input type="radio" name="sputum" value="yes"> <label>Yes</label> &nbsp;
    <input type="radio" name="sputum" value="no"> <label>No</label>

    <h5>Chills?</h5>
    <input type="radio" name="chills" value="yes"> <label>Yes</label> &nbsp;
    <input type="radio" name="chills" value="no"> <label>No</label>

    <h5>Shortness of breath?</h5>
    <input type="radio" name="breath" value="activity"> <label>During activity</label> &nbsp;
    <input type="radio" name="breath" value="rest"> <label>At rest</label>
    <input type="radio" name="breath" value="none"> <label>No</label>

    <h5>Confusion?</h5>
    <input type="radio" name="confusion" value="yes"> <label>Yes</label> &nbsp;
    <input type="radio" name="confusion" value="no"> <label>No</label>

    <h5>Has the patient had a pneumonia shot in the last 5 months?</h5>
    <input type="radio" name="shots" value="yes"> <label>Yes</label> &nbsp;
    <input type="radio" name="shots" value="no"> <label>No</label>

    <h5>Has the patient had the flu in the past month?</h5>
      <input type="radio" name="cough" value="yes"> <label>Yes</label> &nbsp;
      <input type="radio" name="cough" value="no"> <label>No</label>
    <br>
    <br>
    {{#link-to "vital-signs" class="btn btn-secondary btn" id="button3"}}
        Continue
    {{/link-to}}
    <br>
    <br>
    <br>
    <br>
    <br>

    </article>

  </div>
</article>