<article id="initial-symptoms">
  <div class="container" >
    <h2>Patient Symptoms</h2>

    <h5>Cough?</h5>
    <input type="radio" name="cough" value="yes"> Yes &nbsp;
    <input type="radio" name="cough" value="no"> No

    <h5>Chest pain?</h5>
    <p>(explanation)</p>
    <input type="radio" name="chest" value="yes"> Yes &nbsp;
    <input type="radio" name="chest" value="no"> No

    <h5>Sputum production?</h5>
    <input type="radio" name="sputum" value="yes"> Yes &nbsp;
    <input type="radio" name="sputum" value="no"> No

    <h5>Chills?</h5>
    <input type="radio" name="chills" value="yes"> Yes &nbsp;
    <input type="radio" name="chills" value="no"> No

    <h5>Shortness of breath?</h5>
    <input type="radio" name="breath" value="activity"> During activity &nbsp;
    <input type="radio" name="breath" value="rest"> At rest
    <input type="radio" name="breath" value="none"> No

    <h5>Confusion?</h5>
    <p>(or "haven't been acting right")</p>
    <input type="radio" name="confusion" value="yes"> Yes &nbsp;
    <input type="radio" name="confusion" value="no"> No

    <h5>Has the patient had a pneumonia shot in the last 5 months?</h5>
    <input type="radio" name="shots" value="yes"> Yes &nbsp;
    <input type="radio" name="shots" value="no"> No

    <h5>Has the patient had the flu in the past month?</h5>
    <input type="radio" name="flu" value="yes"> Yes &nbsp;
    <input type="radio" name="flu" value="no"> No

    {{#link-to "vital-signs" class="btn btn-secondary btn" id="button3"}}
      Next
    {{/link-to}}





  </div>
</article>