<link href="/styles/app.css" rel="stylesheet" />

<article id="ph">
<div class="container">
  <h2>What is pneumonia?</h2>
  <p id="whatispneumonia">Pneumonia is a common respiratory infection that can be caused by bacteria,
    viruses, or fungi. It inflames the air sacs in the lungs, which makes it difficult to breathe.
    Symptoms of pneumonia can appear suddenly over 24-48 hours or appear more slowly over several days.
    These symptoms can range from mild to severe and include fever, cough (especially with mucus), difficulty breathing,
    shortness of breath, fast breathing and heart rate, chills, chest pain, headache, muscle pain, weakness, tiredness,
    excessive sweating, clammy skin, lack of appetite, vomiting or diarrhea, bluish lips and fingernails, and confusion (especially in older people).
    The people most at risk are infants and young children (under 2 years old) and elderly individuals (65 or older), as well as people who have other illnesses.
    Most healthy people recover within 1-3 weeks with treatment, which typically includes antibiotics, rest, hydration, and medicine for the fever. </p>
  <h2>How can pneumonia be prevented?</h2>

  <ol id="prevention">

  <li>Get vaccinated:</li>
  <ul>
    <li>Pneumonia vaccine</li>
    <li>Influenza vaccine</li>
    <li>Hib vaccine</li>
  </ul>

  <li>Practice good personal hygiene</li>

  <li>Wash hands regularly with soap and water, especially after going to the bathroom and before eating</li>

  <li>Quit smoking</li>

  <li>Keep your immune system strong:</li>
  <ul>
    <li>Exercise</li>
    <li>Get enough sleep (7-9 hours)</li>
    <li>Eat a healthy diet with plenty of fruits and vegetables</li>
    <li>Hydrate regularly</li>
    <li>Avoid sick people as much as possible</li>
  </ul>
  </ol>


</div>
</article>