<article id="result">
  <div class="container" >
    <h2>Recommended decision:</h2>

    <article id="result1">
    <h5>You should go to hospital (fix this)</h5>
    </article>





  </div>
</article>