<article id="result">
<<<<<<< HEAD
    <div class="container" >
      <h2>Go to hospital if you are less than 2 years old or over 64.</h2>
=======
  <div class="container" >
    <h2>Recommended decision:</h2>

    <article id="result1">
    <h5>You should go to hospital (fix this)</h5>
    </article>
>>>>>>> css

      <h2>Otherwise, if your score is smaller than 5, Have some antibiotics and come back in three days.</h2>

      <h2>If your score is smaller than 8, have antibiotics and come back to check again in 3 days.</h2>

      <h2>If your score is over 8, go to hospital.</h2>

  <br>
  <br>
  <br>
  <br>








    </div>
</article>