<article id="result">

    <div class="container" >
  <h2>Result</h2>

  <article id="result_button" >
  <p style="font-size:40px;">{{score}}</p>
  {{#link-to "age" class="btn btn-secondary btn-lg" id="main_diagnose_button"}}
    Re-Assess
  {{/link-to}}
  </article>

    </div>
</article>