<article id="result">

    <div class="container" >
  <h2>{{score}}</h2>

  <article id="result_button" >
  <p> Click the button below to re-assess symptoms:</p>
  {{#link-to "age" class="btn btn-secondary btn-lg" id="main_diagnose_button"}}
    Re-Assess
  {{/link-to}}
  </article>

    </div>
</article>