<article id="symptoms">

  <div class="container">
    <h2>Feeling sick?</h2>

    <article id="button">
      <p> Click the button below to assess symptoms:</p>
      {{#link-to "age" class="btn btn-secondary btn-lg" id="main_diagnose_button"}}
        Assess
      {{/link-to}}
    </article>



  </div>



</article>