<article id="vital-signs">
  <div class="container" >
    <h2>Patient Vital Signs</h2>
    <h5>What's your heart rate?</h5>
      <input type="radio" name="cough" value="yes"> Yes &nbsp;
      <input type="radio" name="cough" value="no"> No
    <h5>What's your respiratory rate?</h5>
      <input type="radio" name="cough" value="yes"> Yes &nbsp;
      <input type="radio" name="cough" value="no"> No
    <h5>What's your oxygen saturation?</h5>
      <input type="radio" name="cough" value="yes"> Yes &nbsp;
      <input type="radio" name="cough" value="no"> No
    <h5>What's your blood pressure?</h5>
      <input type="radio" name="cough" value="yes"> Yes &nbsp;
      <input type="radio" name="cough" value="no"> No
    <h5>What's your body temperature?</h5>
      <input type="radio" name="cough" value="activity"> During activity &nbsp;
      <input type="radio" name="cough" value="rest"> At rest
      <input type="radio" name="cough" value="none"> No
    <h5>Confusion?</h5>
    <p>(or "haven't been acting right")</p>
      <input type="radio" name="cough" value="yes"> Yes &nbsp;
      <input type="radio" name="cough" value="no"> No
    <h5>Has the patient had a pneumonia shot in the last 5 months?</h5>
      <input type="radio" name="cough" value="yes"> Yes &nbsp;
      <input type="radio" name="cough" value="no"> No
    <h5>Has the patient had the flu in the past month?</h5>
      <input type="radio" name="cough" value="yes"> Yes &nbsp;
      <input type="radio" name="cough" value="no"> No
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>
</article>